.background1 {
  background: red;
  height: 100vh;  
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: transparent;
  height: 10vh;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0px;
}

.menu-btn:hover {
  background-color: #ff00001e;
  display: block;
  /* color: white; */
}
